<!doctype html>
{% extends "base.html" %}
{% block content %}
<head>
  <style>
    html {
      height: 100%;
      box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    body {
      position: relative;
      margin: 0;
      max-width: 100%;
      min-height:100%;
      overflow-x: hidden;
      background-color: #F6F7F8;
      padding-bottom: 12%; 
    }
    .judul {
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      text-align: center;
      color: #E83F6F;
    }
    .subjudul {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      color: #32936F;
    }

    table {
      font-family: 'Nunito', sans-serif;
      border: none;
      width: 100%;
      background-color: white;
    }

    td, th {
      text-align: center;
      padding: 8px;

      color: #2274A5;
      font-size: 15px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }

    .CellWithComment{
      position:relative;
    }

    .CellComment{
      display:none;
      position:absolute; 
      z-index:100;
      border:1px;
      background-color:white;
      border-style:solid;
      border-width:1px;
      border-color:#E83F6F;
      border-radius: 5px;
      padding:3px;
      color:#E83F6F; 
      top:20px; 
      left:20px;
    }
    .CellWithComment:hover span.CellComment{
      display:block;
    }

    @media screen and (max-width: 1159px) {
      .tablenya {
        padding-bottom: 8%;
      }
    }
    @media screen and (max-width: 800px) {
      .tablenya {
        padding-bottom: 15%;
      }
    }
    @media screen and (max-width: 450px) {
      .tablenya {
        padding-bottom: 25%;
      }
    }
    @media screen and (max-width: 615px) {
      .tablenya {
        padding-bottom: 32%;
      }
    }
    @media screen and (max-width: 425px) {
      .tablenya {
        padding-bottom: 40%;
      }
    }
    @media screen and (max-width: 320px) {
      .tablenya {
        padding-bottom: 50%;
      }
    }
  </style>
  <script>
    function sortTable(sortby) {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("theTable");
      switching = true;
      /*Make a loop that will continue until no switching has been done:*/
      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*Loop through all table rows (except the first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare, one from current row and one from the next:*/
          x = rows[i].getElementsByTagName("td")[parseInt(sortby)];
          y = rows[i + 1].getElementsByTagName("td")[parseInt(sortby)];
          //check if the two rows should switch place:
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
          break;
          }
        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }
  </script>
</head>
<body>
  <center>
      <div class="judul">Riwayat</div>
      <div class="subjudul">Pantau aktivitas peminjaman buku pada Perpustakaan Muda.</div><br>
      <div class ="table-responsive tablenya">
          <table id="theTable">
              <tr>
                <th class="CellWithComment" onclick="sortTable(0)">Nama Peminjam<span class="CellComment">sort by name</span></th>
                <th class="CellWithComment" onclick="sortTable(1)">Nomor Buku<span class="CellComment">sort by number</span></th>
                <th class="CellWithComment" onclick="sortTable(2)">Judul<span class="CellComment">sort by title</span></th>
                <th class="CellWithComment" onclick="sortTable(3)">Genre<span class="CellComment">sort by genre</span></th>
                <th class="CellWithComment" onclick="sortTable(4)">Tanggal Peminjaman<span class="CellComment">sort by date</span></th>
              </tr>
              {% for record in peminjaman %}
              <tr>
                <td>{{ record.member.name }}</td>
                <td>{{ record.no_buku.nomor }}</td>
                <td>{{ record.no_buku.judul }}</td>
                <td>{{ record.no_buku.genre }}</td>
                <td>{{ record.tanggal }}</td>
              </tr>
              {% endfor %}
            </table>
      </div>
  </center>
  {% endblock %}
</body>
</html>