{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <!-- Required meta tags -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <style>
    html {
      height: 100%;
      box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    body {
      position: relative;
      margin: 0;
      max-width: 100%;
      min-height:100%;
      overflow-x: hidden;
      background-color: #F6F7F8;
      padding-bottom: 12%; 
    }
    .formnya {
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-top: 1%;
    }
    label{
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      color: #FFBF00;
    }
    .judul {
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      text-align: center;
      color: #E83F6F;
    }
    .subjudul {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      color: #32936F;
    }
    .msg{
      font-family: Nunito;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      color: #E83F6F;
    }
    .btn{
      background: #FFBF00;
      border-radius: 10px;
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      color: #32936F;
    }
    @media screen and (max-width: 1159px) {
      .buttonnya {
        padding-bottom: 8%;
      }
    }
    @media screen and (max-width: 800px) {
      .buttonnya {
        padding-bottom: 15%;
      }
    }
    @media screen and (max-width: 450px) {
      .buttonnya {
        padding-bottom: 25%;
      }
    }
    @media screen and (max-width: 615px) {
      .buttonnya {
        padding-bottom: 32%;
      }
    }
    @media screen and (max-width: 425px) {
      .buttonnya {
        padding-bottom: 37%;
      }
    }
    @media screen and (max-width: 320px) {
      .buttonnya {
        padding-bottom: 50%;
      }
    }
  </style>

  <body>
    <div class="judul">Daftar</div>
    <div class="subjudul">Jadi Member Perpustakaan.</div>
    <form method = "POST">
      {% csrf_token %}
      <div class = "container formnya">
        <div class = msg>
          {{ message }}
        </div>
        <br>
        <div class="form-group">
          <label>Nama Lengkap</label>
          <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label>Nomor Identitas</label>
            <input type="text" name="noID" class="form-control">
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="uname" class="form-control">
        </div>
        <div class="form-group">
          <label>E-mail</label>
          <input type="email" name="email" class="form-control" placeholder="email@example.com">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group">
            <label>Alamat</label>
            <input type="text" name="alamat" class="form-control">
        </div>
        <br>
      </div>
      <br>
      <div class = "container text-center buttonnya">
        <button type="submit" class="btn">JOIN NOW</button>
      </div>
      <br>
    </form>
    {% endblock %}  
  </body>
</html>
