{% extends 'base.html' %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
  <title>Sijambu Muda</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <style>
    html {
      height: 100%;
      box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    body {
      position: relative;
      margin: 0;
      max-width: 100%;
      min-height:100%;
      overflow-x: hidden;
      background-color: #F6F7F8;
      padding-bottom: 12%; 
    }

    .judul {
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      text-align: center;
      color: #E83F6F;
    }
    .subjudul {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      color: #32936F;
    }

    .table{
      width: 100%;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .btn {
      color: #32936F;
      font-size: 24px;
      font-weight: bold;
      font-family: Nunito;
      background: #FFBF00;
      border-radius: 10px;
    }

    .buttonnya {
      padding-bottom: 3%;
    }

    th {
      font-family: Nunito;
      font-weight: bold;
      font-size: 16px;
      color: #2274A5;
    }

    td {
      font-family: Open Sans;
      font-weight: 400;
      font-size: 16px;
      color: #2274A5;
    }

    @media screen and (max-width: 1159px) {
      .buttonnya {
        padding-bottom: 8%;
      }
    }
    @media screen and (max-width: 800px) {
      .buttonnya {
        padding-bottom: 15%;
      }
    }
    @media screen and (max-width: 450px) {
      .buttonnya {
        padding-bottom: 25%;
      }
    }
    @media screen and (max-width: 615px) {
      .buttonnya {
        padding-bottom: 32%;
      }
    }
    @media screen and (max-width: 425px) {
      .buttonnya {
        padding-bottom: 40%;
      }
    }
    @media screen and (max-width: 320px) {
      .buttonnya {
        padding-bottom: 50%;
      }
    }
  </style>

  <title>Sijambu Muda</title>
  </head>

  <body>
    <div class="judul">Daftar Buku</div>
    <div class="subjudul">Lihat buku-buku apa saja yang tersedia di Perpustakaan Muda.</div><br>
    <div class = table-responsive>
      <table class="table table-striped" style="width:100%">
        <thead>
          <tr class = "text-center">
            <th>Nomor</th>
            <th>Genre</th>
            <th>Judul</th>
            <th>Pengarang</th>
            <th>Penerbit</th>
            <th>Gambar</th>
            <th>Sinopsis</th>
          </tr>
        </thead>
        <tbody>
          {% for books in books_datas %}
          <tr>
            <td class = "text-center">{{ books.nomor }}</td>
            <td class = "text-center">{{ books.genre }}</td>
            <td class = "text-center">{{ books.judul }}</td>
            <td class = "text-center">{{ books.pengarang }}</td>
            <td class = "text-center">{{ books.penerbit }}</td>
            <td><img class="img-responsive center" src="{{ books.gambar }}"></td>
            <td style="width:30%">{{ books.sinopsis }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div><br>
    <div class = "text-center buttonnya">
      <a href="/form_borrow/" class="btn">BORROW NOW</a>
    </div>
  {% endblock %}
</body>
</html>