<!doctype html>
{% load static %}
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/rdji9n6.png" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

	<title>Sijambu Muda</title>

	<style>
  	.navbar {
			background: #32936F;
		}

		.navbar-nav {
			font-family: Open Sans;
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 15px;
		}
    
		.footer {
			position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
		}
	</style>
</head>
  
  <body>
    <nav class="navbar navbar-expand-md navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="border-color: #32936F">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/" style="color: #FFBF00">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/books/" style="color: #FFBF00">Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/records/" style="color: #FFBF00">Records</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/register/" style="color: #FFBF00">Register</a>
              </li>
          </ul>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <div class="footer">
      <div class="container-fluid text-center text-md-left">
        <div class="row" style="background-color: #32936F">
          <div class="col-md-6 mt-md-0 mt-3">
            <br>
            <div style="color: #FFBF00; font-family: Nunito; font-weight: bold; font-size: 15px">PERPUSTAKAAN MUDA</div>
            <div style="color: #F6F7F8; font-family: Open Sans; font-weight: 600; font-size: 12px">Jalan Margonda Raya No. 1000, Depok <br> Jawa Barat 33540 <br> 021-123456789 </div> <br>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3" style="background-color: #2c8061; color: #F6F7F8; font-family: Open Sans; font-weight: 600; font-size: 12px">© 2019 Copyright: Kelompok6PPW</div>
    </div>
  </body>
</html>