{% extends 'base.html' %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <style>
    html {
      height: 100%;
      box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    body {
      position: relative;
      margin: 0;
      max-width: 100%;
      min-height:100%;
      overflow-x: hidden;
      background-color: #F6F7F8;
      padding-bottom: 12%; 
    }
    .judul-home {  
      color: #E83F6F;
      font-family: Nunito;
      font-size: 48px;
      font-weight: Bold;
    }
    .sub-judul {
      color: #32936F;
      font-family: Open Sans;
      font-weight: Bold;
    }
    .btn {
      color: #32936F;
      font-size: 24px;
      font-weight: bold;
      font-family: Nunito;
      background: #FFBF00;
      border-radius: 10px;
    }

    @media screen and (max-width: 375px) {
      .judulnya {
        padding-bottom: 30%;
      }
    }
    @media screen and (max-width: 425px) {
      .judulnya {
        padding-bottom: 20%;
      }
    }

    @media screen and (max-width: 768px) {
      .judulnya {
        padding-bottom: 25%;
      }
    }

  </style>
  </head>

  <body>
    <img src="https://saltncookies.files.wordpress.com/2019/02/header.jpg?w=1618" class="img-fluid" alt="Responsive image"style="background: #F6F7F8">
    <br><br><br>
    <div class="container-fluid text-center judulnya">
        <div class="judul-home">sijambumuda.</div>
        <h5 class="sub-judul">Sistem Peminjaman Buku Perpustakan Muda</h5>
        <br>
        <a href="register" class="btn">JOIN NOW</a>
        <br><br><br><br>
    </div>
    {% endblock %}
</body>
</html>